<div class="row">
   <div
    class="card ms-3 mt-3"
    role="button"
    [routerLink]="['/meter/' + meter.id]"
    > 
    <img
      [src]="
        'https://tst-nexmeterup.cloud.apeironlab.tech/api/attachments/' +
        meter.imageFilename +
        '?inline=true'
      "
      width="100"
      class="card-img-top p-2"
    />
    <div class="card-body">
      <h4 class="card-title">{{ meter.id }}</h4>
    </div>
  </div>

    <div class="text-center mt-2" style="background-color: rgb(220, 246, 246);">
      <button class="btn btn-primary me-4 " (click)="select(meter)">Select</button>
      <button class="btn btn-danger end" (click)="delete()">Delete</button>
</div>
 </div> 
